{% extends 'layout.twig' %}

{% block body %}
    <button class="btn btn-primary" data-request="onClickMe" data-request-success="onSuccess(data)">click me</button>
    <p id="response"></p>
{% endblock %}

