<!DOCTYPE html>
<html>
<head>
    <title>Block Chain</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/css/framework.extras.css'/>
    <link rel='stylesheet' href='/css/theme.css'/>
</head>
<body>
{% block body %}{% endblock %}
{% block javascript %}{% endblock %}
</body>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/app.js" type="text/javascript"></script>
<script src="/js/framework.js" type="text/javascript"></script>
<script src="/js/framework.extras.js" type="text/javascript"></script>

</html>
