body.oc-loading,
body.oc-loading * {
  cursor: wait !important;
}
.stripe-loading-indicator {
  height: 5px;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2000;
}
.stripe-loading-indicator .stripe,
.stripe-loading-indicator .stripe-loaded {
  height: 5px;
  display: block;
  background: #0090c0;
  position: absolute;
  -webkit-box-shadow: inset 0 1px 1px -1px #FFF, inset 0 -1px 1px -1px #FFF;
  box-shadow: inset 0 1px 1px -1px #FFF, inset 0 -1px 1px -1px #FFF;
}
.stripe-loading-indicator .stripe {
  width: 100%;
  -webkit-animation: oc-infinite-loader 60s linear;
  animation: oc-infinite-loader 60s linear;
}
.stripe-loading-indicator .stripe-loaded {
  width: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.stripe-loading-indicator.loaded {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.stripe-loading-indicator.loaded .stripe-loaded {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
  width: 100% !important;
}
.stripe-loading-indicator.hide {
  display: none;
}
body > p.flash-message {
  position: fixed;
  width: 500px;
  left: 50%;
  top: 13px;
  margin-left: -250px;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 30px 10px 15px;
  z-index: 10300;
  word-wrap: break-word;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
body > p.flash-message.fade {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s, width 0s;
  transition: all 0.5s, width 0s;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
body > p.flash-message.fade.in {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
body > p.flash-message.success {
  background: #8da85e;
}
body > p.flash-message.error {
  background: #cc3300;
}
body > p.flash-message.warning {
  background: #f0ad4e;
}
body > p.flash-message.info {
  background: #5fb6f5;
}
body > p.flash-message button.close {
  float: none;
  position: absolute;
  right: 10px;
  top: 8px;
  color: white;
  font-size: 21px;
  line-height: 1;
  font-weight: bold;
  opacity: 0.2;
  filter: alpha(opacity=20);
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  outline: none;
}
body > p.flash-message button.close:hover,
body > p.flash-message button.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
@media (max-width: 768px) {
  body > p.flash-message {
    left: 10px;
    right: 10px;
    top: 10px;
    margin-left: 0;
    width: auto;
  }
}
[data-request][data-request-validate] [data-validate-for]:not(.visible),
[data-request][data-request-validate] [data-validate-error]:not(.visible) {
  display: none;
}
a.oc-loading:after,
button.oc-loading:after,
span.oc-loading:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: .4em;
  height: 1em;
  width: 1em;
  animation: oc-rotate-loader 0.8s infinite linear;
  border: .2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
@-moz-keyframes oc-rotate-loader {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes oc-rotate-loader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-o-keyframes oc-rotate-loader {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes oc-rotate-loader {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}
@keyframes oc-rotate-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes oc-infinite-loader {
  0% {
    width: 0;
  }
  10% {
    width: 42%;
  }
  20% {
    width: 63%;
  }
  30% {
    width: 78.75%;
  }
  40% {
    width: 88.59375%;
  }
  50% {
    width: 94.130859375%;
  }
  60% {
    width: 97.07244873046875%;
  }
  70% {
    width: 98.58920574188232%;
  }
  80% {
    width: 99.35943391174078%;
  }
  90% {
    width: 99.74755670045852%;
  }
  100% {
    width: 99.9423761471391%;
  }
}
@-webkit-keyframes oc-infinite-loader {
  0% {
    width: 0;
  }
  10% {
    width: 42%;
  }
  20% {
    width: 63%;
  }
  30% {
    width: 78.75%;
  }
  40% {
    width: 88.59375%;
  }
  50% {
    width: 94.130859375%;
  }
  60% {
    width: 97.07244873046875%;
  }
  70% {
    width: 98.58920574188232%;
  }
  80% {
    width: 99.35943391174078%;
  }
  90% {
    width: 99.74755670045852%;
  }
  100% {
    width: 99.9423761471391%;
  }
}
@-o-keyframes oc-infinite-loader {
  0% {
    width: 0;
  }
  10% {
    width: 42%;
  }
  20% {
    width: 63%;
  }
  30% {
    width: 78.75%;
  }
  40% {
    width: 88.59375%;
  }
  50% {
    width: 94.130859375%;
  }
  60% {
    width: 97.07244873046875%;
  }
  70% {
    width: 98.58920574188232%;
  }
  80% {
    width: 99.35943391174078%;
  }
  90% {
    width: 99.74755670045852%;
  }
  100% {
    width: 99.9423761471391%;
  }
}
@-ms-keyframes oc-infinite-loader {
  0% {
    width: 0;
  }
  10% {
    width: 42%;
  }
  20% {
    width: 63%;
  }
  30% {
    width: 78.75%;
  }
  40% {
    width: 88.59375%;
  }
  50% {
    width: 94.130859375%;
  }
  60% {
    width: 97.07244873046875%;
  }
  70% {
    width: 98.58920574188232%;
  }
  80% {
    width: 99.35943391174078%;
  }
  90% {
    width: 99.74755670045852%;
  }
  100% {
    width: 99.9423761471391%;
  }
}
@keyframes oc-infinite-loader {
  0% {
    width: 0;
  }
  10% {
    width: 42%;
  }
  20% {
    width: 63%;
  }
  30% {
    width: 78.75%;
  }
  40% {
    width: 88.59375%;
  }
  50% {
    width: 94.130859375%;
  }
  60% {
    width: 97.07244873046875%;
  }
  70% {
    width: 98.58920574188232%;
  }
  80% {
    width: 99.35943391174078%;
  }
  90% {
    width: 99.74755670045852%;
  }
  100% {
    width: 99.9423761471391%;
  }
}

.callout {
  margin-bottom: 25px;
  padding: 20px;
  border-left: 3px solid #eeeeee;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout-danger {
  background-color: #fdf7f7;
  border-color: #ebccd1;
}
.callout-danger h4 {
  color: #a94442;
}
.callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.callout-warning h4 {
  color: #8a6d3b;
}
.callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.callout-info h4 {
  color: #31708f;
}
.callout-success {
  background-color: #f9fdf7;
  border-color: #d6e9c6;
}
.callout-success h4 {
  color: #3c763d;
}
.t-ww {
  word-wrap: break-word;
  word-break: break-word;
}
.border-none {
  border: 0;
}
.pos-r {
  position: relative !important;
}
.pos-a {
  position: absolute !important;
}
.pos-f {
  position: fixed !important;
}
.w-sm {
  width: 25% !important;
}
.w-md {
  width: 50% !important;
}
.w-lg {
  width: 75% !important;
}
.w-full {
  width: 100% !important;
}
.w-50 {
  width: 50px !important;
}
.w-100 {
  width: 100px !important;
}
.w-120 {
  width: 120px !important;
}
.w-130 {
  width: 130px !important;
}
.w-140 {
  width: 140px !important;
}
.w-150 {
  width: 150px !important;
}
.w-200 {
  width: 200px !important;
}
.w-300 {
  width: 300px !important;
}
.w-350 {
  width: 350px !important;
}
.m-a-0 {
  margin: 0 !important;
}
.m-t-0 {
  margin-top: 0 !important;
}
.m-r-0 {
  margin-right: 0 !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-l-0 {
  margin-left: 0 !important;
}
.m-a {
  margin: 20px !important;
}
.m-t {
  margin-top: 20px !important;
}
.m-r {
  margin-right: 20px !important;
}
.m-b {
  margin-bottom: 20px !important;
}
.m-l {
  margin-left: 20px !important;
}
.m-x {
  margin-right: 20px !important;
  margin-left: 20px !important;
}
.m-y {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.m-a-xs {
  margin: 5px !important;
}
.m-t-xs {
  margin-top: 5px !important;
}
.m-r-xs {
  margin-right: 5px !important;
}
.m-b-xs {
  margin-bottom: 5px !important;
}
.m-l-xs {
  margin-left: 5px !important;
}
.m-x-xs {
  margin-right: 5px !important;
  margin-left: 5px !important;
}
.m-y-xs {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.m-a-sm {
  margin: 10px !important;
}
.m-t-sm {
  margin-top: 10px !important;
}
.m-r-sm {
  margin-right: 10px !important;
}
.m-b-sm {
  margin-bottom: 10px !important;
}
.m-l-sm {
  margin-left: 10px !important;
}
.m-x-sm {
  margin-right: 10px !important;
  margin-left: 10px !important;
}
.m-y-sm {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.m-a-md {
  margin: 30px !important;
}
.m-t-md {
  margin-top: 30px !important;
}
.m-r-md {
  margin-right: 30px !important;
}
.m-b-md {
  margin-bottom: 30px !important;
}
.m-l-md {
  margin-left: 30px !important;
}
.m-x-md {
  margin-right: 30px !important;
  margin-left: 30px !important;
}
.m-y-md {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.m-a-lg {
  margin: 60px !important;
}
.m-t-lg {
  margin-top: 60px !important;
}
.m-r-lg {
  margin-right: 60px !important;
}
.m-b-lg {
  margin-bottom: 60px !important;
}
.m-l-lg {
  margin-left: 60px !important;
}
.m-x-lg {
  margin-right: 60px !important;
  margin-left: 60px !important;
}
.m-y-lg {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
.p-a-0 {
  padding: 0 !important;
}
.p-t-0 {
  padding-top: 0 !important;
}
.p-r-0 {
  padding-right: 0 !important;
}
.p-b-0 {
  padding-bottom: 0 !important;
}
.p-l-0 {
  padding-left: 0 !important;
}
.p-a {
  padding: 20px !important;
}
.p-t {
  padding-top: 20px !important;
}
.p-r {
  padding-right: 20px !important;
}
.p-b {
  padding-bottom: 20px !important;
}
.p-l {
  padding-left: 20px !important;
}
.p-x {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.p-y {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.p-a-xs {
  padding: 5px !important;
}
.p-t-xs {
  padding-top: 5px !important;
}
.p-r-xs {
  padding-right: 5px !important;
}
.p-b-xs {
  padding-bottom: 5px !important;
}
.p-l-xs {
  padding-left: 5px !important;
}
.p-x-xs {
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.p-y-xs {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.p-a-sm {
  padding: 10px !important;
}
.p-t-sm {
  padding-top: 10px !important;
}
.p-r-sm {
  padding-right: 10px !important;
}
.p-b-sm {
  padding-bottom: 10px !important;
}
.p-l-sm {
  padding-left: 10px !important;
}
.p-x-sm {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.p-y-sm {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.p-a-md {
  padding: 30px !important;
}
.p-t-md {
  padding-top: 30px !important;
}
.p-r-md {
  padding-right: 30px !important;
}
.p-b-md {
  padding-bottom: 30px !important;
}
.p-l-md {
  padding-left: 30px !important;
}
.p-x-md {
  padding-right: 30px !important;
  padding-left: 30px !important;
}
.p-y-md {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.p-a-lg {
  padding: 60px !important;
}
.p-t-lg {
  padding-top: 60px !important;
}
.p-r-lg {
  padding-right: 60px !important;
}
.p-b-lg {
  padding-bottom: 60px !important;
}
.p-l-lg {
  padding-left: 60px !important;
}
.p-x-lg {
  padding-right: 60px !important;
  padding-left: 60px !important;
}
.p-y-lg {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}
