<div class="row">
    <p class="text-lg-left text-light m-y-sm">Welcome {{ user.name }}</p>
    <div class="col-sm-12">
        <h1 class="mx-auto m-y-sm text-center card-header bg-info">Chat App</h1>
    </div>
    <div class="col-sm-5">
        {% include 'partials/users.twig' %}
    </div>
    <div class="col-sm-7">
        {% include 'partials/chat.twig' %}
    </div>
    <div class="col-sm-12">
        <a href="/" class="btn btn-danger btn-block m-y-lg ">Log Out</a>
    </div>
</div>




