<div class="row">
    <p class="text-lg-left text-primary m-y-sm">Welcome {{ user.name }}</p>
    <div class="col-sm-12">
        <h1 class="mx-auto m-y-sm text-center card-header">Chat App</h1>
    </div>
    <div class="col-sm-6">
        <div class="card" >
            <h3 class="card-header">Online Users (<span id="online-users"></span>)</h3>
            <ul class="card-body" id="users">
                {% for user in users %}
                    <li>user: {{ user }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <ul id="messages"></ul>

            <form action="" id="chat-message">
                <input name="message" type="text" class="form-control"  autocomplete="off"/>
                <input name="username" type="text" value="{{ user.name }}" hidden>
                <button class="btn btn-block btn-dark">Send</button>
            </form>
        </div>
    </div>
    <div class="col-sm-12">
        <a href="/" class="btn btn-danger btn-block m-y-lg ">Log Out</a>
    </div>
</div>
<script>
    $(function () {
        var socket = io();

        socket.on('userCount', function (data) {
            $('#online-users').html(data.userCount);
            $('#users').append($('<li>').text(data.user));
        });

        $('#chat-message').submit(function (e) {
            socket.emit('chat message', $(this).serializeArray());
            $('#chat-message')[0].reset();
            return false;
        });
        socket.on('chat message', function (msg) {
            $('#messages').append($('<li>').text(msg[1].value+ ': ' +msg[0].value));
            console.log(msg)
        });
    });
</script>



